<!DOCTYPE html>
<html>
<head>
  <% @title = "Liste der Links"%>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	
	<div>
		<h3><i class="icon-list-alt"></i>Liste der Links</h3>
	</div>
	
	<p></p>
	<div class="row-fluid">
		<div class="span12">
			<img src="/assets/httpwall.jpg">
		</div>
	</div>
	<p></p>
	
	<% if flash[:notice] %>
	<div class="alert alert-success">
	<p id="notice">
		<%= flash[:notice] %>
	</p>
	</div>
	<% end %>
	
	<%= search_form_for @q do |f| %>
  <div class="form-actions">
		<%= f.label :title_cont, "Nach Titel suchen" %>
		<%= f.text_field :title_cont %>
    <p><%= f.submit nil, :class => 'btn btn-primary' %></p>
  </div>
<% end %>
	
	<table class="table">
		<thead>
			<tr>
				<th>Titel</th>
				<th>Beschreibung</th>
				<th>Optionen</th>
			</tr>
		</thead>
		<tbody>
			<% @bookmarks.each do |bookmark| %>
			<tr>
				<td>
					<%= link_to bookmark.title, bookmark.url %>
				</td>
				<td>
					<%= bookmark.comment %>
				</td>
				<td>
					<% if can?(:read, Bookmark) %>
						<%= link_to "Details »", bookmark_path(bookmark), :class => 'btn btn-mini btn-info' %>
					<% end %> 
					<% if can?(:update, Bookmark) %>
					<%= link_to "ändern »", edit_bookmark_path(bookmark), :class => 'btn btn-mini btn-warning' %>
					<% end %>
					<% if can?(:delete, Bookmark) %> 
					<%= link_to "löschen »", bookmark,
						confirm: "Wollen Sie diesen Datensatz wirklich löschen?",
						method: :delete, :class => 'btn btn-mini btn-danger' %>
					<% end %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>

<p>
	<% if can?(:create, Bookmark) %>
	<%= link_to "Neuen Link einstellen »", new_bookmark_path, :class => 'btn btn-primary' %>
	<% end %>
</p>

</body>
</html>