<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
			<th><%= model_class.human_attribute_name(:category) %></th>
      <th><%= model_class.human_attribute_name(:photo) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      
      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.id, product_path(product) %></td>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
				<td><%= product.category %></td>
        <td><%= product.photo %></td>
        <td><%= product.price %></td>
        
        <td>
					<% if can?(:read, Product) %>
						<%= link_to "Details »", product_path(product), :class => 'btn btn-mini btn-info' %>
					<% end %> 
					<% if can?(:update, Product) %>
					<%= link_to "ändern »", edit_product_path(product), :class => 'btn btn-mini btn-warning' %>
					<% end %>
					<% if can?(:delete, Product) %> 
					<%= link_to "löschen »", product,
						confirm: "Wollen Sie diesen Datensatz wirklich löschen?",
						method: :delete, :class => 'btn btn-mini btn-danger' %>
					<% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_product_path,
            :class => 'btn btn-primary' %>
