<!DOCTYPE html>
<html>
<head>
	<title>Lehrbuch-Katalog</title>
	<%= stylesheet_link_tag "store" %>
</head>

<body class="<%= controller.controller_name %>">

<div>		
	<h3><i class="icon-book"></i>Lehrbuch-Katalog</h3>
</div>

<p></p>
<div class="row-fluid">
	<div class="span12">
		<img src="/assets/kunden_buecher.jpg">
	</div>
</div>
<p></p>
<hr>
	
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
			<form class="form-search">
			  <input type="text" class="input-medium search-query">
			  <button type="submit" class="btn">Suchen</button>
			</form>
			<%= link_to "Neues Buch einstellen", new_product_path, :class => 'btn btn-primary' %>
			<p></p>
      <!--Body content-->
			<div id="main">
				<% @products.each do |product| %>
				
					<table class="table table-condensed">
						<tbody>
							<tr>
								<td width="200" heigth="220">
									<%= image_tag(product.photo) %>
								</td>
								<td>
									<h3><%= product.title %></h3>
									<strong>Beschreibung: </strong><%= sanitize(product.description) %>
									<div class="price_line">
										<p class="text-success">
											<span class="price"><strong><%= number_to_currency(product.price) %></strong></span>
										</p>
										<%= button_to 'In den Warenkorb legen', line_items_path(product_id: product), remote: true %>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
			
				<% end %>
			</div>
    </div>
		
    <div class="span3" style="background-color: #eeeeee;">
      <!--Sidebar content-->
			<div id="side">
				<div id="cart">
					<% if @cart %>
					
		        <%= render @cart %>
						<% end %>
				</div>
				<hr>
				<p><%= button_to 'Mein Warenkorb', carts_path, :class => 'btn btn-primary' %></p>
			</div>
    </div>
  </div>
</div>

</body>
</html>